<app-header titulo="Card"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio laborum atque ab! Reiciendis id est harum beatae, odio ipsam, omnis aut, quis consequatur ex cum ipsa ratione! Hic, sunt quisquam?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Star_Wars_-_Darth_Vader.jpg/480px-Star_Wars_-_Darth_Vader.jpg" alt="">
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, numquam esse officiis nulla voluptates maiores soluta. Eius tempora libero repudiandae asperiores corrupti rerum reprehenderit qui perferendis delectus, laudantium obcaecati assumenda.
    </ion-card-content>
  </ion-card>


</ion-content>
